<h1>Editing Reply</h1>
<% bug = Bug.find(params[:bug_id]) %>
<% comment = bug.comments.find(params[:comment_id]) %>
<% reply = comment.replies.find(params[:id])%>
<div>
  <p>Comment</p>
    <%= form_with(model: [bug, comment, reply]) do |form| %>
      <div>
        <%= form.label 'Edit Reply' %>
        <% user_id = current_user.id %>
        <%= form.hidden_field :user_id %>
        <%= form.hidden_field :bug_id %>
        <%= form.hidden_field :comment_id %>
        <%= form.text_area :body, class: 'form-control' %>
      </div>
      <%= form.submit 'Update' %>
    <% end %>
</div>

<%= link_to 'Back', bug_path %>
