<p id="notice"><%= notice %></p>

<h1>Bugs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Location</th>
      <th>Age</th>
    </tr>
  </thead>

  <tbody>
    <% @bugs.each do |bug| %>
      <tr>
        <td>
          <%= link_to bug.location, bug %>
          <%= solve_bug_bage(bug) %>
        </td>
        <td><%= time_ago_in_words bug.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Bug', new_bug_path %>
