<p id="notice"><%= notice %></p>

  <h1>Bug Tracker</h1>

  <div class="box">
    <%= link_to 'New Bug', new_bug_path %>
  </div>
  <div class="box">
    <%= link_to 'Active', active_bugs_path %>
  </div>
  <div class="box">
    <%= link_to 'Archive', archive_bugs_path %>
  </div>
  <div class="box">
    <%= link_to 'Processing', processing_bugs_path %>
  </div>