<p id="notice"><%= notice %></p>

<p> 
    <strong>Location: </strong>
    <%= @bug.location %>
</p>

<p>
    <strong>Description: </strong>
    <%= @bug.description %>
</p>

<p>
    <strong>Solve: </strong>
    <span id="bug_status"><%= @bug.status %></span>
</p>

<p>
<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>
</p>

<p>
    <%= solve_bug_button(@bug) %>
</p>