<p id="notice"><%= notice %></p>

<div class="d-flex flex-row justify-content-between">
    <div class="p-2">
        <h1><%= @bug.location %></h1>
        <%= solve_bug_badge(@bug) %>
    </div>
    <div class="p-2">
        <%= link_to 'Edit', edit_bug_path(@bug), class: "btn btn-secondary" %>
        <%= link_to 'New Bug', new_bug_path, class: 'btn btn-success' %>
    </div>
</div>

<div id="bug-description">
    <%= simple_format @bug.description %>
</div>

    <%= solve_bug_button(@bug) %>


<hr>

<%= render partial: 'comments/form' %>

<div class="comments">
    <%= render @bug.comments.by_date %>
</div>