<p id="notice"><%= notice %></p>

<p>
  <strong>Path:</strong>
  <%= @bug.path %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bug.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bug.status %>
</p>

<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>

<div>
  <p>Comments</p>
    <%= form_with(model: [@bug, @bug.comments.build]) do |form| %>
      <div>
        <%= form.label 'New Comment' %>
        <% user_id = current_user.id %>
        <%= form.hidden_field :user_id %>
        <%= form.hidden_field :bug_id %>
        <%= form.text_area :body, class: 'form-control' %>
      </div>
      <%= form.submit 'Post' %>
    <% end %>
</div>

<div>
  <%= render @bug.comments.order("updated_at DESC") %>
</div>
